/*Picker Page CSS*/
.wrapper-grid {
    background: teal;
    height: 50%;
    color: rgb(255, 255, 255);
}

.userInput {
    height: 50px;
    font-size: 20px;
    width: 200px;
    border-radius: 5px ;
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: gray;
}

.searchButton {
    height: 60px;
    color: #d6d6d6;
    font-size: 20px;
    width: 200px;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(51, 122, 183);
    text-transform: uppercase;
    border: 2px solid rgb(51, 122, 183);
}
.searchButton:hover{
    background-color: rgb(64, 152, 229);
}

/*User Info CSS*/
.wrap{
    float: left;
}
.UserInfo{
    margin: 15px 0;
    color: rgb(34, 55, 101);
    background-color: #00808033;
}
.UserInfoRow{
    background-color: #337ab7;
}

.UserAvatar{
    width: 120px;
    height: 120px;
    margin: 10px;
}
/*Pagination*/
.pages{
    float: left;
    font-size: 20px;
    padding-top: 37px;
    text-transform: uppercase;
    color:#5ab1ed;
}
.paginationWrapper{

}
.page-numbers{
    display: block;
    height: 200px;
}

.listStyle {
    height: 30px;
    width: 30px;
    border: 2px solid #5ab1ed;
    border-radius: 10px;
    color:#5ab1ed;
    list-style: none;
    float: left;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
    display: block;
    text-align: center;
}
.repoTest{
    display: none;
}

/*Userlist CSS*/

.uselist {
    font-size: 15px;
    color: darkslategrey;
    background-color: whitesmoke;
    list-style: none;
}
.uselist li{
    width: 100%;
    background-color: #93e5ff;
    border: 2px solid #5ab1ed;
    border-radius: 5px;
    margin: 10px;
    float: left;
}
.uselist li:last-child {
    margin-bottom: 50px;
}



